$base-size: 12px;
$small-size: 10px;

$base-width: 1180px;

$blue: #2e75bd;
$gray: #f0f0f0;
$dark: #545250;
$light: #fff;

$dark-blue : #003559;

$dark-red: #dd482a;
$medium-gray: #999;
$light-gray: #f8f8f8;
$topbar-gray: #ccc;
$gray-border: #ddd;
$text-gray: #888;

$active-btn-blue: #6cc7ff;
$light-blue: #4799cb;
$link-hover: #489acc;
$green: #5ebc2e;
$passive: #e3e3e3;
$head-bg: #20333c;

/** Card variables */

$card-height: 345px;
$card-border: #e1e1e1;


/** Fonts */
$font-default: Tahoma, Verdana, Segoe, sans-serif;
$font-primary: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;

body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    margin-top: 50px;
    position: relative;

    color: $dark;
    background-color: $light;
}
h2 {
    font-size: 26px;
}
a,
a:focus {
    outline: none;
}
a:hover,
a:focus {
    color: $light-blue;
}

@media (max-width: 769px) {
    body {
        padding-top: 0;
    }
}

.flex {
    display: flex;
}

.container-wrapper {

    &--extra {
        background-color: $dark-blue;
        color: white;
    }
}

.row--center {
    text-align: center;
}


/** HEADER */

.header {
    $height: 50px;
    width: 100%;
    height: $height;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 999;
    align-items: center;

    background-color: $gray;

    &__logo {
        img {
            max-width: 90px;
        }
    }

    .container,	
    .container-fluid {
        width: auto;
        max-width: $base-width;
        height: 100%;
    }

    &__col {
        text-align: center;

    	margin-left: auto;

	&:first-of-type {
	    margin-left: 0;
	}
    }
}

.header__row {
    font-size: 12px;
    display: flex;
    height: 100%;
    align-items: center;

    .dropdown-toggle {
        &:hover,
        &:focus {
            color: $light-blue;
            .profile-icon {
                background-position: 0 -31px;
            }
        }
    }
    .open {
        .dropdown-toggle {
            color: $link-hover;
            .profile-icon {
                background-position: 0 -62px;
            }
            &:hover {
                color: $link-hover;
                .profile-icon {
                    background-position: 0 -62px;
                }
            }
        }
    }
    .menu a {
        padding-left: 10px;
    }
    .catalog-link {
        .icon {
            width: 25px;
        }
        a {
            padding-left: 0;
        }
    }
    .search-form {
        display: inline-block;
        width: 100%;
    }
}

.header__link {
    line-height: 27px;

    color: $blue;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $light-blue;

        .catalog-icon {
            background-position: 0 -27px;
        }
    }
}

.header__icon {
    margin-right: 4px;
}

.header__title {
    margin-left: -4px;
}
#sb_profile {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    font-size: $base-size;

    float: right;

    padding: 10px;

    border-radius: 0;


    &.open {

        .header__link {
            text-decoration: none;
        }
    }
    .dropdown-menu {

        top: 5px;
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .2);

        background-color: $light;

        width: 100%;

        border: none;
        border-radius: 0;
        box-shadow: none;
        a {
            font-size: $base-size;
            color: $blue;

            //padding: 3px 20px 3px 45px;

            //color: $dark;
            &:hover {
                color: $link-hover;
                //background-color: transparent;
            }
        }
    }
}
#sb_login {
    margin-left: 15px;
    &:hover {
        .profile-icon {
            background-position: 0 -31px;
        }
    }
}

/** FOOTER */


.footer {
    margin-top: 20px;
    padding: 20px 0;
    line-height: 1.4;

    background-color: $gray;

    .container-fluid {
	max-width: $base-width;
    }

    .left-side {
        ul {
            margin-left: 110px;
        }
        a {
            font-size: 18px;

            text-decoration: underline;

            color: $dark;

            &:hover {
                text-decoration: none;
            }
        }
    }
    .right-side {
        font-size: 15px;
        a {
            text-decoration: none;

            color: $dark;
            &:hover {
                text-decoration: underline;
            }
        }

        ul {
            float: left;

            width: 215px;
        }
    }
    .narrow {
        margin-left: 20px;
        padding: 5px 0 5px 42px;

        border-left: 1px solid #afafaf;
    }
    .wide {
        margin-left: 50px;
        padding: 5px 0;
        li {
            white-space: nowrap;
        }
    }
    .copyright {
        font-size: 13px;

        margin-top: 32px;

        color: $medium-gray;

        ul {
            display: inline;

            margin: 0 0 0 20px;
        }
        .warning {
            padding-left: 30px;

            .label {
                margin-right: 15px;
                margin-left: 33px;
            }
        }
    }
}



.container-wrapper + .footer {
    margin-top: 0px;
}

.footer__logo {
    img {
        max-width: 120px;
        height: auto
        margin-right: 40px;
    }
}

.footer__social-list {
    li {
        width: 35px;
        height: 35px;
    }
}
@media (max-width: 769px) {
    .footer {
        .left-side a {
            display: block;
            float: none !important;
        }

	.container-fluid {
	    max-width: 1180px;
	}

        .left-side ul {
            margin: 20px 0;
        }
        .narrow {
            float: none;

            margin: 0;
            padding: 0;

            border: none;
        }
        .wide {
            margin: 0;
            padding: 0;
        }
        .list-inline > li {
            padding-left: 0;
        }
        .copyright {
            ul {
                display: block;

                margin: 20px 0;
            }
            .warning {
                padding: 0;
                .label {
                    margin-left: 0;
                }
            }
        }
    }
}


// Fix bugs
.progress {
  height: 60px !important;
}

.wiki-wrapper header,
.breadcrumb,
.global-functions {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.breadcrumb>li+li:before {
    content: none;
}
.nav-tabs  {
    border-bottom: none;

    & > li {
        float: none;
        margin-bottom: 0;
    }
}

.label {
    padding: 0;
    font-weight: normal;
    line-height: 16px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
         padding-top: 0;
         margin-bottom: 5px;
         text-align: left;
    }
}

.help-block {
    margin-top: 0;
    margin-bottom: 0;
}
