## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<footer class="footer">
  <div class="container-fluid">
  <div class="row">
      <div class="col-md-5  col-sm-12 side left-side">
        <a href="${settings.PLP_URL}" class="pull-left footer__logo">
          <img src="https://courses.mipt.ru/static/img/logo.png" class=""/>
        </a>
      </div>
      <div class="col-md-7 side right-side hidden-xs">
        <div class="row">
          <div class="col-md-5 col-sm-6">
            <ul class="list-unstyled narrow">
              <li><a href="http://npoed.ru/about">О проекте</a></li>
              <li><a href="${settings.PLP_URL}/faq/">Вопрос-ответ</a></li>
              <li><a href="${settings.PLP_URL}/feedback">Задать вопрос</a></li>
            </ul>
          </div>
          <div class="col-md-7 col-sm-6 eqv">
            <ul class="list-unstyled wide">
              <li><a href="${settings.PLP_URL}/terms/">Пользовательское соглашение</a></li>
              <li><a href="${settings.PLP_URL}/contacts">Контактная информация</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

   <div class="row copyright">
      <div class="col-md-12">
        © 2016 Московский физико-технический институт (государственный университет)
      </div>
  </div>
    </div>
  </div>
  </footer>
  <script type="text/javascript" >
      $(function () {
          var dropdown = $('#sb_profile');
          dropdown.click( function() {
              dropdown.toggleClass('open');
          });
      });
  </script>
