## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
<footer>
  <div class="container-fluid">
  <div class="row">
      <div class="col-md-5  col-sm-12 side left-side" style="margin-top: 0px;">
        <a href="/" class="pull-left"><img src="${static.url('img/logo-small.png')}" alt="" class="logo-small"></a>
        <ul class="list-unstyled">
          <li><a href="/course">Каталог курсов</a></li>
          <li><a href="/specialize">Направления подготовки</a></li>
        </ul>
      </div>
      <div class="col-md-7 side right-side hidden-xs">
        <div class="row">
          <div class="col-md-5 col-sm-6">
            <ul class="list-unstyled narrow">
              <li><a href="/about">О проекте</a></li>
              <li><a href="/faq">Вопрос-ответ</a></li>
            </ul>
          </div>
          <div class="col-md-7 col-sm-6">
            <ul class="list-unstyled wide">
              <li><a href="/terms/">Пользовательское соглашение</a></li>
              <li><a href="/contacts">Контактная информация</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

   <div class="row copyright">
      <div class="col-md-5">
        © 2015 Открытое образование
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/openeduRU"><img src="${static.url('img/social/fb.png')}" alt=""></a>
            <a href="https://vk.com/openeduRU"><img src="${static.url('img/social/vk.png')}" alt=""></a>
            <a href="http://ok.ru/group/52786563514445"><img src="${static.url('img/social/ok.png')}" alt=""></a>
            <a href="https://instagram.com/openeduRU"><img src="${static.url('img/social/inst.png')}" alt=""></a>
            <a href="https://twitter.com/openeduRU"><img src="${static.url('img/social/tw.png')}" alt=""></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4" style="margin-top: -21px; margin-left: 54px;">
  </div>
    </div>
  </div>
  </footer>
</div>
